
html {
        overflow-x: hidden;
        background-color: #000000;
}
.backing{
        z-index: -1;
        position: fixed;
        top: 0;
        right: 0;
        background-image: image-set("assets/background.png");
        background-size: 100%;
        width: 100vw;
        height: 100vw;
        aspect-ratio: 23/27;
}
.cover {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(21, 21, 21, 0.6);
        background-size: cover;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
}



.top {
        position:fixed;
        width: 90%;
        top: 0;
        margin-right: 5%;
        margin-left: 5%;
        align-self: center;
        font-weight: 900;
        background-color:#0a9127be;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        transition-duration: 0.4s;
        white-space-collapse: nowrap;
        z-index: 5;
}

.top a {
        font-weight: 900;
        font-size:xx-large;
        margin: 15px;
        padding: 5px;
        padding-bottom: 18px;
        padding-top: 18px;
        color: #000000;
        background-color: #bdb64ea8;
        background-size: cover;
        width: 180px;
        height: 30px;
        border-radius: 13px;
        display:inline-block;
        transition-duration: 0.4s;
        text-decoration: none;
        text-shadow: 1px 0 #000;
        z-index: 6;
}
.top a.active{
        background-color: rgba(230, 220, 90, 0.87)
}
.top a.active:before{
        background-color: rgba(230, 220, 90, 0.87)
}
.top a:hover{
        animation: testAnim1 3s infinite;
        -webkit-animation: testAnim1 3s infinite;
        background-color: rgba(230, 220, 90, 0.87);
}

.top p{
        position: absolute;
        width: 178px;
        top: -3%;
        text-align: center;
        transition-duration: 0.4;
}
.top a:hover p{
        animation: testAnim2 3s infinite;
        -webkit-animation: testAnim2 3s infinite;
}

.shader{
        color:#00000080;
        background-color: #00000054;
        size: inherit;
}

.poster{
        position: absolute;
        display: none;
        top:-10px;
        left: -10px;
        z-index: 8;
        width: calc(100vw + 20px);
        padding-top:20px;
        margin: 0;
        height: 150vh;
        background: linear-gradient(180deg, #000000, #000000, rgba(0, 0, 0, 0.0));
        transition-duration: 3000ms;
}
.poster img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        padding-top:0;
        padding-bottom:0;
        height: 100vh;
}

.center {
        left:10px;
        margin-top: 300px;
        width: 60%;
        padding:5%;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.444);
        border-radius: 30px;
        height: 50vh;
        transition-duration: 0.5s;
}


.tooltip {
        position: relative;
        display: inline-block;
      }
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 160px;
        background-color: rgba(0, 0, 0, 0.444);
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        bottom: 100%;
        left: 150%;
        margin-left: -60px;
      }
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }

.socialsList{
        margin:10%;
        padding: 1px;
        width: 80%;
        margin-top: 200px;
        left:15%;
        color: aliceblue;
        background-color: #00000080;
        border-radius: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
}

.social{
        transition-duration: 1000ms;
        height: 220px;
        width: 80%;
        margin: 10%;
        align-items: center;
        border-radius:20px;
        margin-bottom:0;
        margin-top: 100px;
}
.social .body{
        background-color: #3333336c;
        position:relative;
        height:240px;
        top:0;
        padding-top:40px;
        border-radius: 20px;
}
.social h1{
        height:35px;
        position:relative;
        background-color: #00000057;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding:5px;
        padding-left:15px;
        bottom:302px;
}
.social .body .text {
        color: aliceblue;
        font-size: x-large;
        position:relative;
        margin: 10px;
        padding: 10px;
        height: 90%;
        display: inline-block;
        width: 70%;
        text-decoration: none;
}
.social .body .image{
        transition-duration: 3s;
        position:absolute;
        padding:10px;
        height:60%;
        aspect-ratio: 1/1;
        top:60px;
        right:20px;
        display: inline-block;
        background-color: white;
        background-size:contain;
        border-radius: 15px;
}
/*
.social .body .image:hover{
        animation: spin 3s;
        -webkit-animation: spin 3s;
}
*/

@keyframes testAnim1{
        0%  {background-color:rgba(230, 220, 90, 0.87)}
        25% {background-color:rgba(241, 228, 80, 0.87)}
        50% {background-color:rgba(230, 220, 90, 0.87)}
        100%{background-color:rgba(230, 220, 90, 0.87)}

}

@keyframes spin{
        0%{rotate: 0deg;}
        10%{rotate:-15deg}
        80%{rotate: 375deg}
        100%{rotate: 360deg;}
}

.mobile{display:none;}
@media only screen and (max-width: 700px){
        html{background-size: 200%;}
        .backing{
                height: 100vh;
                aspect-ratio: 23/27;
                width: auto;
        }
        .cover{
                background-color: rgba(41, 41, 41, 0.703);
        }
        .top {
                top: 0;
                left: 0;
                width:100%;
                margin:0;
        }
        .top a{
                font-size: larger;
                width: 90px;
                margin: 5px;
                margin-top: 15px;
                margin-bottom: 15px;
                height: 15px;
        }
        .top a p{
                width: 90px;
                top: 11px
        }
        .center{
                margin-top: 200px;
                width: 90%;
                height: calc(-200px + 100vh)
        }
        .poster{
                margin: 0;
                left: -50px;
                width: calc(100% + 100px);
        }
        .poster img{
                margin: 0;
                margin-top: 100px;
                margin-left: 10%;
                width: calc(100% - 100px);
                height: calc((21/16)*110vw);
        }
        .socialsList{
                margin-left:0;
                width: 100%;
                background-color: #0000002c;
        }
        .social{
                margin:0;
                width:100%;
                height:280px;
                margin-top: 100px;
        }
        .social .body{
                height:280px
        }
        .social h1{
                bottom:341px;
        }
        .social .body .image{
                width: 20%;
                aspect-ratio: 1/1;
                height: auto;
        }
        .social .body .text{
                font-size: medium;
                width: 60%;
        }
        .desktop{display: none;}
        .mobile{display: contents;}
}
