:root{
        --highlight: blue;
        --page-colour: #ebba7baf;
        --image: image-set();
        --text-colour: #000;
        --background: image-set("../assets/images/background.png")
}
.backing{
        background-image: var(--background);
}
.characterSelector{
        margin: 10%;
        margin-top: 300px;
        width: 80%;
        background-color:rgba(205, 134, 63, 0.74);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
.characterSelector .tile{
        margin:3%;
        display: inline-block;
        width: 25%;
        background-color:rgba(87, 79, 72, 0.74);
        padding: 1%;
        align-content: center;
        border-radius: 15px;
        text-align: center;
        color: aliceblue;
}

.characterSelector .tile:hover{
        cursor: pointer;
}
.characterSelector .tile .image{
        width: 98%;
        aspect-ratio: 1/1;
        background-size: contain;
        display:inline-block;
        object-fit:contain;
        justify-self: center;
        border-radius: 30px;
        background-repeat: no-repeat;
}
.characterSelector .tile a{
        white-space-collapse: nowrap;
        text-decoration: none;
        font-size: larger;
        font-weight: 900;
}

.crewPage{
        transition-duration: 1s;
        display:flex;
        margin: 7.5%;
        width:auto;
        padding: 2.5%;
        padding-top: 0;
        margin-top: 1000px;
        border-radius: 20px;
        justify-content: center;
        color: var(--text-colour)
}
.crewPage div{
        height:100%;
        background-color: var(--page-colour);
}
.crewPage .textColumn{
        transition-duration: 0.4s;
        position: relative;
        height:auto;
        margin:10px;
        margin-left:0px;
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%;
        width: 45vw;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family:monospace;
        font-size:20px;
        background-color: var(--page-colour);
}
.crewPage .imageColumn{
        transition-duration: 0.4s;
        padding: 10px;
        margin:10px;
        margin-right:0px;
        width:50vw;
        height:auto;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: var(--page-colour);
}
.crewPage .image{
        background-image: var(--image);
        width: 102%;
        aspect-ratio: 1/1;
        background-size: contain;
        display:inline-block;
        object-fit:contain;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}

.titleCard{
        background-size: cover;
        height: 100px;
        aspect-ratio: 8/2;
        display: inline-block;
}

h3{margin-bottom: 0}
p{margin-top: 0;}

p a{
        color: var(--highlight);
        font-weight: 900;
}
.local div h1{
        padding-top: 20px;
        color: var(--highlight);
        font-weight: 900;
        font-size: 50px;
}
td.data a{
        color: var(--highlight);
}
@media only screen and (max-width: 700px) {
        h1{
                text-align: center;
        }
        .characterSelector{
                width: 95%;
                margin: 2.5%;
                margin-top: 200px;
        }
        .characterSelector .tile{
                margin: 2.45%;
                width: 42.5%;
                margin-top: 25px
        }
        .crewPage{
                display: block;
                margin: 1.5%;
                width:90%;
                padding: 3.5%;
                margin-top: 1000px;
                background-color: rgba(250, 186, 123, 0.412);
        }
        .crewPage .imageColumn{
                margin: 0;
                width: auto;
                height: auto;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 20px;
                padding-bottom: 0;
                margin-bottom: 0;
        }
        .crewPage .textColumn{
                margin-top: 0;
                width: auto;
                padding: 10px;
                padding-top: 0;
                border-bottom-left-radius: 20px;
                border-top-right-radius: 0px;
        }
        .seperator{
                display:inline-block;
                width: auto;
        }
        .bar{
                display: block;
        }
        .local{
                display: block;
                margin: 1.5%;
                width:90%;
                padding: 3.5%;
                margin-top: 1000px;
                background-color: var(--page-colour);
        }
}