.characterSelector{
        margin: 10%;
        margin-top: 300px;
        width: 80%;
        background-color:rgba(205, 134, 63, 0.74);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
.characterSelector .tile{
        margin:3%;
        display: inline-block;
        width: 25%;
        background-color:rgba(87, 79, 72, 0.74);
        padding: 1%;
        align-content: center;
        border-radius: 15px;
        text-align: center;
        color: aliceblue;
}

.characterSelector .tile:hover{
        cursor: pointer;
}
.tile .image{
        width: 102%;
        aspect-ratio: 1/1;
        background-size: contain;
        display:inline-block;
        object-fit:contain;
}

@media only screen and (max-width: 700px) {
        .characterSelector{
                width: 95%;
                margin: 2.5%;
                margin-top: 200px;
        }
        .characterSelector .tile{
                margin: 2.45%;
                width: 42.5%;
                margin-top: 25px
        }
}